.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(15, 1fr);
  width: 100vw;
  height: 100vh;
  gap: 2px;
}

.grid-item {
  border: 1px solid #272726;
}
