.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(15, 1fr);
  width: 100vw;
  height: 100vh;
  gap: 2px; /* Adjust the gap between squares if needed */
}

.grid-item {
  border: 1px solid #272726; /* Adjust the border color if needed */
}

.grid-item.active {
  /* No need to define background-color here, as it's dynamically set in JavaScript */
}
